%% -*- erlang -*-
%% Config file for gsms application
{deps, [ {uart, ".*", {git, "git@github.com:tonyrog/uart.git"}},
	 {gsms, ".*", {git, "git@github.com:tonyrog/gsms.git"}},
         {lager, ".*", {git, "git://github.com/Feuerlabs/lager.git", "1.1"}}]}.

%% {erl_opts, [debug_info, fail_on_warning, {d,debug}]}.
{erl_opts, [debug_info, fail_on_warning]}.
{sub_dirs, ["src"]}.
