%% -*- erlang -*-
%%
%% Configuration file for included erlang applications.
%%
[
 %% SASL config
 {sasl, [
         {sasl_error_logger, {file, "log/sasl-error.log"}},
         {errlog_type, error},
         {error_logger_mf_dir, "log/sasl"},      % Log directory
         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
         {error_logger_mf_maxfiles, 5}           % 5 files max
        ]},
 {lager, [
	  {handlers, [
		      {lager_console_backend, info},
		      {lager_file_backend,
		       [
			{"log/lager/error.log", error, 10485760, "$D0", 5},
			{"log/lager/console.log", info, 10485760, "$D0", 5}
		       ]}
		     ]}
	 ]},
{ale,
 [{init_traces, [
		 {[{module, gsms_uart}], debug},
		 {[{module, gsms_0710}], debug}
		]}]},
 %% 
 %% GSMUX config
 %% 
 {gsmux, 
  [{uart,[{device,"/dev/ttyUSB0"},
	  {baud, 115200},{iflow,[rts]},{oflow,[cts]}]},
   {reopen_timeout, 5000},
   {modem, {"Telit", "CG864-QUAD"}}
  ]}
].
